<div class="error-body no-top lazy"  data-original="/assets/img/work.jpg"  style="background-image: url('/assets/img/work.jpg');overflow: hidden;">
<div class="row login-container animated fadeInUp">
    <div class="col-md-4 col-md-offset-4 tiles white">
        <div class="row form-row">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">JOOTO Forgot password</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="row-fluid message-forgot">
						Please check your email to receive password
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>