<div class="popover search" tabindex="-1">
	<div class="popover-content">
		<div class="form-header">
			<div ng-click="$hide()" class="modal-close">
				<i class="flaticon-cross-mark1"></i>
			</div>
			<h5><span class="semi-bold"><span class="bold">Search</span></span></h5>
			<div class="clearfix"></div> 
		</div>
		<div class="loadding"> 
			
		</div>
		<div class="popup-content popup-content-search" ng-if='search'>
			<div class="card" ng-if='search.cards && search.cards.length > 0'>
				<h4> Card </h4>
				<div class='content'>
					<div class="search-result-card" ng-repeat='card in search.cards'>
						<div class="search-result-card-container search-hover">
								<div class="search-result-card-container-fade"></div>
								<div class="list-card ui-droppable">
									<div class="list-card-cover"></div>
									<div class="list-card-stickers-area hide">
										<div class="stickers"></div>
									</div>
									<div class="list-search-card-details">
										<div class="list-card-labels"></div>
										<ul class='labels'> 
											<li class='card-labels label-color-{{label.color}}' ng-repeat='label in card.labels' > </li>
										</ul>
										<p> <b> Card</b>: {{card.id}}</p>
										<img ng-if="card.attachments" ng-src="{{card.attachments.url}}">
										<a class="list-card-title" dir="auto" ng-click="eventClickDetailCard(card.href, card.id)" ng-bind-html="card.displayName"></a>
										<div class="badges">
											<span title="Comments" ng-show="card.badges.comments > 0"><i class="fa fa-comment"></i> {{card.badges.comments}}</span>
											<span title="Attachments" ng-show="card.badges.attachments > 0"><i class="fa fa-paperclip"></i> {{card.badges.attachments}}</span>
											<span title="Checklist" class="badge badge-success" ng-show="card.badges.checkItems > 0">
												<i class="fa fa-check-square-o"></i> {{card.badges.checkItemsChecked}}/{{card.badges.checkItems}}
											</span>
											<span title="Start Date" class="badge badge-important {{colorDue(card,'startDate')}}" ng-show="card.badges.startDate">
												<b> Start Date: </b> <i class="fa fa-clock-o"></i> {{card.badges.startDate | date:"yyyy/MM/dd 'at' h:mma"}}
											</span>
											<span title="Due" class="badge badge-important {{colorDue(card,'Due')}}" ng-show="card.badges.due">
												<b>Due:</b> <i class="fa fa-clock-o"></i> {{card.badges.due | date:"yyyy/MM/dd 'at' h:mma"}}
											</span>
										</div>
										<div class="card-list-member">
											<ul class="my-friends no-margin pull-right">
												<li ng-repeat="member in card.members">
													<div class="profile-pic">
														<span ng-if="member.typeimg == 0" title="{{member.displayName}}"> {{member.initialsName}}</span>
														<img ng-if=" member.typeimg == 1" width="35" height="35"
															 ng-src="{{member.avatarHash | memberAvatar}}" alt="{{member.displayName}}" title="{{member.displayName}}">
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
						</div>
						<div class="search-result-card-details">
							<p> 
								<b>Card:</b> {{card.id}}
							</p>
							<p class="u-bottom">
								<a class="search-result-card-details-name" ng-click="eventClickDetailCard(card.href, card.id)"> <span ng-bind-html="card.displayName"> </span></a>
							</p>
							<p class='parentCard'> 
								<span> Team: <a href="{{card.organizationsHref}}"> {{card.organizationName}}</a> <span> 
							</p>
							<p class='parentCard'> 
								<span> Board: <a href="{{card.boardHref}}"> {{card.boardName}}</a> <span> 
							</p>
							<p class='parentCard'> 
								<span> List: <a href="{{card.boardHref}}"> {{card.list.name}}</a> <span> 
							</p>
						</div>
						<a class="search-result-card-hover-target searchHover"  ng-click="eventClickDetailCard(card.href, card.id)"></a>
					</div>
				</div>
			</div>
			<div class="board" ng-if="search.boards && search.boards.length > 0"> 
				<h4> Board </h4>
				<div class="content"> 
					<ul>
						<li class="" ng-repeat='board in search.boards'>
							<a href="{{board.href}}"  class='searchHeaderBoard'> 
								<span class='color' style='background-color:{{board.prefs.backgroundColor}}'>  </span>
								<span class='name'> {{board.displayName}} </span>
							</a>
						</li>
					</ul>
					<div class='clear'></div>
				</div>
			</div>
			<div class="card" ng-if='search.organizations && search.organizations.length > 0'>
				<h4> Team </h4>
				<div class='content'>
					<ul class='searchTeam'>
						<li ng-repeat='team in search.organizations'>
							<a href="{{team.href}}"> {{team.displayName}} </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class='not_search popup-content-search' ng-if='!search'> 
			<div class="board" ng-if="menuBoard.boards && menuBoard.boards.length > 0"> 
				<h4> Board </h4>
				<div class="content"> 
					<ul>
						<li class="" ng-repeat='board in menuBoard.boards'>
							<a href="{{board.href}}"  class='searchHeaderBoard'> 
								<span class='color' style='background-color:{{board.prefs.backgroundColor}}'>  </span>
								<span class='name'> {{board.displayName}} </span>
							</a>
						</li>
					</ul>
					<div class='clear'></div>
				</div>
			</div>
			<div class="card" ng-if='menuBoard.organizations && menuBoard.organizations.length > 0'>
				<h4> Team </h4>
				<div class='content'>
					<ul class='searchTeam'>
						<li ng-repeat='team in menuBoard.organizations'>
							<a href="{{team.href}}"> {{team.displayName}} </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="notFind popup-content-search" ng-if='search.cards.length == 0 && search.boards.length == 0 && search.organizations.length == 0'>
			We couldn't find any cards or boards that matched your search.
		</div>
	</div>
</div>
