<div class="popover" tabindex="-1">
	<div class="popover-content popover-width popup-move">
		<div class="form-header">
			<div ng-click="$hide()" class="modal-close">
				<i class="flaticon-cross-mark1"></i>
			</div>
			<h5><span class="semi-bold"><span class="bold">Move Card</span></span></h5>
			<div class="clearfix"></div> 
		</div>
		<div class="popup-contentcheck copycard">
			<form  action="">
				<p> Board </p>
				<select class="js-select-board form-control" ng-options="board.id as board.displayName group by board.groupName for board in selectBoards" ng-model="model.idBoard" ng-change="getBoardLists();"></select>
				<div ng-if='boardList.length > 0'>
					<p> List </p>
					<select class="js-select-list form-control" ng-model='model.idList' ng-options="list.id as list.name for list in boardList"  ng-change='getPositionCard(model.idList)'></select>
					<!-- <p> Position </p>
					<select class="js-select-position form-control" ng-model='model.pos' ng-options="pos as pos for pos in cardPositionCopy()"></select>
					 --><button ng-click="MoveCard(model)" type="button" class="btn btn-addchecklist"> Move </button>
				</div>
				<p ng-if='boardList.length == 0'  class='error'> Please create a list for the board are selected to Move .</p>
			</form>
		</div>
	</div>
</div>
