<div class="tabbed-pane-main-col-wrapper">
	<p ng-if="checkRole()"> <a pop-pup="" open-type="popover" template-url="organization/popup-delete.tpl.html" ><strong> Delete this team </strong></a> </p>
	<div class="window-module u-clearfix">
		<div class="window-module-title">
			<h3 class="u-inline">Visibility</h3>
		</div>
		<div class="setting-item">
			<div class="setting-item-detail">
				<div>
					<p><span class="flaticon-lock27" style="color:#f35958"></span><strong>Private</strong> - This team is private. It's not indexed or visible to those outside the team.</p>
				</div>
			</div>
			<div class="setting-item-action">
				<a class="button-link u-text-align-center" href="#">Change</a>
			</div>
		</div>
	</div>
</div>