<div class='subProfile'>
	<div class="menu-right-header">
		<a ng-click="getPopupover('info-member')" class="backdefaul"> 
			<i class="fa fa-arrow-left"></i> 
		</a>
		<h4>Menu</h4>
		<div class="modal-close">
			<i class="flaticon-cross-mark1" ng-click="$hide()"></i>
		</div>
	</div>
	<div class="content">
		<a class='avatar-option icon_active'>
			<img width='50' src="">
			<span class='text-member'> image 1 <span class='icon-sm icon-check'></span> </span> 
		</a>
		<a class='avatar-option'>
			<span class='img-member'>
				<span class='member-initials'> LN </span>
			</span>
			<span class='text-member'>image 2 <span class='icon-sm icon-check'></span> </span> 
		</a>
		<a class='button-link js-take-photo'>
			<span class='icon-sm icon-camera'></span>
			 Take Photo With Camera
		</a>
		<div class='uploader'>
			<form class="realfile" method='POST' action="" enctype='multipart/form-data'>
				<input class='upload-avatar' type="file">
			</form>
			<a class="button-link fakefile"><span class="icon-sm icon-attachment"></span> Upload a new picture</a>
		</div>
	</div>
</div>





