<div class='subProfile'>
	<div class="menu-right-header">
		<a ng-click="getPopupover('add_cards_email')" class="backdefaul"> 
			<i class="fa fa-arrow-left"></i> 
		</a>
		<h4>Generate new email address</h4>
		<div class="modal-close">
			<i class="flaticon-cross-mark1" ng-click="$hide()"></i>
		</div>
	</div>
	<div class="content">
		<p>The old email address will no longer work. There is no undo. Go ahead?</p>
		<input class="btn-leave-board" type="submit" value="Generate new email address">	
	</div>
</div>