.pageSearch {
	padding-right:10px;
	padding-left:10px;
}
.pageSearch .badge {
	font-size:10px;
}
.pageSearch .search-result-card {
	    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}
.pageSearch .inputSearch {
	width:90%
}
.pageSearch .buttonSearch { 
	width: 35px;
	height: 37px;
	position:relative;
	right:5px;
}
.pageSearch .search-result-card-container-fade {
	display:none;
}
.pageSearch p.parentCard{
    word-wrap: break-word;
}

.pageSearch .inputSearch{
    width:87%
}

.pageSearch .search-result-card-container{
    width:60%;
}

.pageSearch .search-result-card-hover-target{
    width:60%;
}
.pageSearch .search-result-card .list-card{
    width:100%;
	position:relative;
	border: none;
}
.pageSearch .search-result-card-details {
    padding-left: 65%;
}


.pageSearch .search-result-card-container {
	overflow: initial;
    position: relative;
    display: inline-block;
    border: 1px solid #dadada;
    padding: 5px;
}
.pageSearch .search-result-card-details {
   padding-left: 2%;
   display: inline-block;
   vertical-align: top;
   width: 38%;
}
.pageSearch img {
	width:100%;
}
@media only screen and (max-width:600px) { 
	.pageSearch .searchHeaderBoard {
		width: 100% !important;
	}
}