<div class="popover " tabindex="-1">
	<div class="popover-content popover-width popover-create-label">
		<div class="form-header">
			<div ng-click="$hide()" class="modal-close js-cancel">
				<i class="flaticon-cross-mark1"></i>
			</div>
			<h5><span class="semi-bold"><span class="bold">Change password</span></span></h5>
			<div class="clearfix"></div> 
		</div>
		<div class="popup-contentedit">
			<form action="" method="post" >
				<div class="form-group">
					<label> Old Password </label>
					<input type="password" ng-model="password.oldpass" class="form-control">
					<p ng-show="errors.oldpass" class="help-block error">{{errors.oldpass}}</p>
				</div>
				<div class="form-group">
					<label> New Password </label>
					<input type="password" ng-model="password.newpass" class="form-control">
					<p ng-show="errors.newpass" class="help-block error">{{errors.newpass}}</p>
				</div>
				<div class="form-group">
					<label> New Password (again) </label>
					<input type="password" ng-model="password.repeatnewpass" class="form-control">
					<p ng-show="errors.repeatnewpass" class="help-block error">{{errors.repeatnewpass}}</p>
				</div>
				<button ng-click="changePassword(password)" type="button" class="btn btn-addchecklist">Change</button>
			</form>
		</div>  	
	</div>
</div>
